<div class="mat-display-2" style="text-align: center">
  Gerenciar Projetos
</div>

<div style="text-align: right">
  <button mat-fab matTooltip="Cadastrar Projeto" (click)="openDialog()" matTooltipPosition="right"
    color="primary">
    <mat-icon aria-hidden="false" aria-label="Example home icon">add</mat-icon>
  </button>
</div>

<div style="margin: 10px;">
  <mat-form-field style="width: 90%; margin-right: 30px;">
    <input matInput [(ngModel)]='nome' (keyup.enter)='findByNome()' placeholder="Pesquisar por Nome">
  </mat-form-field>

  <button mat-raised-button color="primary" (click)='findByNome()'>Pesquisar</button>
</div>
  
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
    <!-- Position Column -->
    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="valor">
      <th mat-header-cell *matHeaderCellDef> Valor </th>
      <td mat-cell *matCellDef="let element"> R$ {{element.valor}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="inicio">
      <th mat-header-cell *matHeaderCellDef> Início </th>
      <td mat-cell *matCellDef="let element"> {{buetify(element.inicio)}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="fim">
      <th mat-header-cell *matHeaderCellDef> Fim </th>
      <td mat-cell *matCellDef="let element">
        <span [style.color]="
        compararDatas(element.fim)? '' : 'red'
        ">
          {{buetify(element.fim)}}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions" stickyEnd>
      <th mat-header-cell *matHeaderCellDef> Ações </th>
      <td mat-cell *matCellDef="let item">
          <!--Menu na Linha-->
          <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="selecionarProjeto(item)">
                  <mat-icon>edit</mat-icon>
                  <span>Editar</span>
              </button>
              <button mat-menu-item (click)="deletarProjeto(item)">
                <mat-icon>delete</mat-icon>
                <span>Deletar</span>
            </button>
          </mat-menu>
      </td>
  </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
